<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Paper Stack</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
    <div class="container">
        <section id="content" hidden>
            <form autocomplete="off">
                <h1>Create Account</h1>
                <div>
                    <input type="text" placeholder="Username" id="username" name="username"/>
                </div>
                <div>
                    <input type="password" placeholder="Password" id="password" name="password"/>
                </div>
                <div>
                    <input type="password" placeholder="Confirm Password" id="password_confirmation" name="password_confirmation"/>
                </div>
                <div>
                    <input type="submit" value="Create"/>
                    <a href="/">Login</a>
                </div>
            </form>
        </section>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.all.js"></script>
    <script>
        $(e => {
            $('form').on('submit', e => {
                $.ajax({
                    'type': 'post',
                    'url': '/api/exercise-final/store',
                    'data': $('form').serialize(),
                    'success': e => {
                        $('form').trigger('reset')
                        $('#username').trigger('focus')
                        Swal.fire(
                            'Success!',
                            'User successfully created.',
                            'success'
                        )
                    },
                    'error': e => {
                        $('#username').trigger('focus')
                        $('form').trigger('reset')
                        switch(e.status) {
                            case 400: {
                                response = JSON.parse(e.responseText)
                                required = response.username && response.username.required || response.password && response.password.Required
                                max = response.username && response.username.Max || response.password && response.password.Max
                                min = response.username && response.username.Min || response.password && response.password.Min
                                confirm = response.password && response.password.Confirmed
                                Swal.fire(
                                    'Please check your inputs!',
                                    required ? 'Fields cannot be blank' : max || min ? 'Minimum character of 4 maximum of 20' : confirm ? 'Passwords do not match' : 'unknown err',
                                    'error'
                                )
                                break;
                            }
                            case 409: {
                                Swal.fire(
                                    'Username exists!',
                                    'Please use another username.',
                                    'error'
                                )
                                break;
                            }
                        }
                    },
                })
                e.preventDefault()
            })
            $('#content').show()
        })
        $(document).ajaxStart(() => {
            Pace.restart();
        })
    </script>
</body>
</html>
